.position {
  font-size: 20px;
  color: #555;
  margin-bottom: 10px;
}

contact {
  font-size: 16px;
  margin-bottom: 10px;
}

.watermark {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  height: 100px;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  background-position: right center;
  opacity: 0.1;
}

.pbhs {
  background-image: url('../images/pbhs.png');
  background-size: 80px 80px;
}

.bc {
  background-image: url('../images/bc.png');
  background-size: 60px 60px;
  margin-right: 8px;
}
