@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@import url('helpers/variables.css');
@import url('helpers/typing.css');

@import url('sections/header.css');
@import url('sections/profile.css');
@import url('sections/footer.css');

@import url('pages/intro.css');
@import url('pages/about.css');

/* @import url('variables.css');
@import url('contact-me.css');
@import url('cv.css');
@import url('footer.css');
@import url('header-menu.css');
@import url('profile-section.css');
@import url('footer.css');
@import url('typing.css'); */

body {
  padding: 0;
  margin: 0;
  background: url('../images/georgie-cobbs-kP0pjdyYNyU-unsplash.jpg');
  background-position: center -50px; /*horizontally centered, shifted up by 20 pixels */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* @media (prefers-color-scheme: dark) {
  body {
    padding: 0;
    margin: 0;
    background: url('../images/sam-albury-oA7MMRxTVzo-unsplash.jpg');
    background-position: center -50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
} */

main {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  /* overflow: hidden; */
  /* overscroll-behavior: none; */
}

section {
  width: 100vw;
  height: 100vh;
  background: var(--primary-transparent-1);
  backdrop-filter: blur(7.5px);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

a {
  color: var(--secondary-3);
}

relative {
  position: relative;
  display: block;
  width: 100%;
}

.paper {
  position: relative;
  z-index: 1;
  padding: 5rem 12rem;
  margin: 67px 0;
  left: 100px;
  width: 919px;
  flex-shrink: 0;
  /* border: 0.5px solid var(--primary-2); */
  background: var(--primary-1);
  box-shadow: 0px 2px 2px 0px var(--secondary-transparent-1);
  backdrop-filter: blur(7.5px);
}
