.portfolio-container {
    height: 100vh;
    position: relative;
    text-align: center;
    color: $white-1;

    .portfolio-content {
        position: absolute;
        top: 60px;
        display: flex;
    }

}