@use "sass:color";
@import '../../styles/common';

.button {
    display: inline-block;
    height: 42px;
    padding: 0 15px;
    //title styling
    line-height: 42px;
    font-size: 14px;
    //border styling
    border: 0;
    border-width: 0px;
    border-radius: 21px;
    border-style: solid;
    color: $white-1;

    &:hover {
        color: $white-1;
    }

    &:active {
        color: $white-1;
    }

    &:visited {
        color: $white-1;
    }
}


.ghost {
    background: transparent !important;
    border-width: 1px;
}

.primary {
    border-color: $blue-1;
    background: linear-gradient(to right, $blue-1, $purple-1);
    box-shadow: 0 0px 10px $blue-2;

    transition: transform 0.2s cubic-bezier(0.76, 0, 0.24, 1), box-shadow 0.2s cubic-bezier(0.76, 0, 0.24, 1);


    &:hover {
        transform: translate3d(-0.5px, -2px, 0);
        box-shadow: 0 1px 15px $blue-2;
    }

    &:active {
        transform: translate3d(0.2px, 1px, 0);
        box-shadow: 0 2px 20px $blue-1
    }
}