.footer {
    background-color: $black-1;
    z-index: 1;
    height: 100px;
    color: $white-1;
    padding: 20px;
    text-align: center;
    font-size: 30px;

    .link-icon {
        padding: 7px
    }
}