@import '~antd/dist/antd.css';
@import './common.scss';
@import '../layout/layout.scss';
@import '../sections/sectionsStyles.scss';

* {
  color: $white-1;
}

button {
  display: inline-block;
  height: 42px;
  padding: 0 15px;
  //title styling
  line-height: 42px;
  font-size: 14px;
  //border styling
  border: 0;
  border-width: 0px;
  border-radius: 21px;
  border-style: solid;
}

a {
  color: $blue-2;

  &:hover {
    color: $blue-1;
  }

  &:active {
    color: $purple-2;
  }

  &:visited {
    color: $purple-2;
  }
}


.app {
  color: $white-1;
}