header {
  top: 0px;
  z-index: 5;
  display: flex;
  position: fixed;
  width: 100vw;
  background: var(---primary-transparent-1);
  box-shadow: 0px 1px 1px 0px var(--secondary-transparent-1);
  backdrop-filter: blur(50px);
}

header nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: auto;
  padding: auto;
}

header nav ul li {
  display: inline-block;
  border-right: 1px solid var(--primary-3);
  margin: 12px 0;
}

header nav ul li a {
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  text-decoration: none;
}

/* TODO: figure out hover state */
header nav ul li a:hover {
  color: var(--red);
  background-color: var(--secondary-3);
}

.selected {
  color: var(--secondary-3);
  border-bottom: 2px solid var(--secondary-3);
}
